<div class="data-form">
  <form class="form-signin" action="/blogs/create" method="POST">
    <h2>Create a new blog:</h2>
    <label for="inputTitle">title</label>
    <input class="form-control" type="text" name="title" id="inputTitle" placeholder="title" autofocus required>
    <label for="inputBody">Body</label>
    <textarea class="form-control" type="text" name="body" id="inputBody" placeholder="Last" required></textarea>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>
</div>